/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------- end of reset ----------------------*/

/* rules for the whole body */

body{
  max-width: 950px;
  max-height: 100px;
  padding-top: 100px;
  margin-left: 200px;
}

/* background circle */

.back-circle{
  width: 200px;
  height: 200px;
  border-radius:50px
  z-index:-1
  color:#97E2F4;
}

/* line border */

.line{
  border-left: 7px #97E2F4 solid;
  max-height: 80%;
  padding: 15px;
  margin-bottom: 70px;
}

/* light square stuff */

.light-square{
  position: relative;
  margin: 30px;
  max-width: 800px;
  max-height: 400px;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  background-color: #77DFF7;
  z-index: -1;

/* darker, foreground squares, yo */

}
.dark-square{
  position: relative;
  margin: 30px;
  max-width: 800px;
  max-height: 400px;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  background-color:#4CC0DB;
  z-index: -1;
}


/* titles for text in squares */

h2{
  font-family: Lato, sans-serif;
  font-size: 20px;
  color: white;
  list-style: none;
  border-bottom: 1px solid white;
  padding: 5px;
}

/* text in the squares */

p{
  padding: 10px;
  font-family: Lato, sans-serif;
  font-size: 14px;
  color: white;
  list-style: none;
  margin-left: 20px;
  width: 400px;
}

/* timestamps */

.time{
  margin:
  max-width:
  max-height:
  font-family:
  font-size:
  font-weight:
  color:
}

/* icon */

i{
  color: white;
  background-color: #97E2F4;
  border-radius: 25px;

}
